
html {
	background-color: #efefef;
	text-align: center;
}

#today{
	width:60%;
	margin: auto;
	padding: auto;
	height: 750px;
	background-color: #f26d00;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
}

#tomorrow{
	width:100%
	text-align:left;
	height: 200px;
	
}

p {
	font-family: "helvetica neue", sans serif;
	font-weight: 200;	
}

#temp1 {
	color: #ffffff;
	font-size: 48px;
	text-align: center;
	position: relative;
	top: 150px;
	left: 180px;

}

#sum{
	color: #ffffff;
	font-size: 48px;
	text-align: center;
	position: relative;
	top: 360px;
}

img{
	width: 250px;
	height: auto;
	position: relative;
	bottom: 90px;
	/*left: 230px;*/
	margin: auto;
	padding: auto;
}

.degrees:after {
	content: "\00b0";
}