
html {
	background-color: #ffffff;
	text-align: center;
}
* {
	margin: 0px;
	padding: 0px;
}

.degrees:after {
	content: "\00b0";
}

#loader{
	width: 50%;
	height: auto;
	position: relative;
	top: 200px;
}

.wrapper {
	display:none;
}

.hidden {
	display:none;
}

#hourly{
	overflow: scroll;
	width: 200px;
	height: 200px;
	
	color: #ffffff;
	padding:auto;
	margin:auto;
	position: absolute;
	bottom: 1000px;
	right: 700px;
}

.hours{
	font-family: "helvetica neue", sans serif;
	font-weight: 400;
	font-size: 28px;
	
}

.t {
	font-family: "helvetica neue", sans serif;
	font-weight: 400;
	font-size: 38px;
}

#today{
	width:100%;
	height: 750px;
	background-color: #ff7406;
	/*-webkit-border-radius: 1000px;
	border-radius: 1000px;*/
}

#icon{
	position: relative;
	top: 110px;
	
	}

#icon img{
	width: 50%;
	height: auto;
	position: relative;
	
	margin: auto;
	padding: auto;
}

img{
	width: 80%;
	height: auto;
	margin: auto;
	padding: auto;
}

#tomorrow{
	margin-top: 0px;
	padding-top; 0px;
	background-color:#cbe007;
	width:100%
	text-align:left;
	height: 400px;
	
}

#dayAfter{
	background-color: #2da0c9;
	height: 400px;
}

p {
	font-family: "helvetica neue", sans serif;
	font-weight: 400;
	font-size: 48px;
}

#day{
	font-family: "helvetica neue", sans serif;
	font-weight: 400;
	font-size: 28px;
	color: #ffffff;
	position: relative;
	top: 30px;
}

#temp1 {
	width: 100px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	background-color: #ffffff;
	color: #f26d00;
	font-size: 48px;
	text-align: center;
	position: relative;
	top: 150px;
	left: 610px;
}

#sum{
	color: #ffffff;
	font-size: 48px;
	text-align: center;
	position: relative;
	top: 60px;
}

#temp2{
	width: 100px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	background-color: #ffffff;
	color:#cbe007;
	position:relative;
	top:80px;
	margin: auto;
	padding: auto;
}

#sum2{
	color:#ffffff;
	position:relative;
	top:110px;
}

#temp3{
	width: 100px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	background-color: #ffffff;
	color:#2da0c9;
	position:relative;
	top:80px;
	margin: auto;
	padding: auto;
}

#sum3{
	color:#ffffff;
	position:relative;
	top:110px;
}




#day1, #day3, #day5, #day7 {
	background-color: #2da0c9;
}

#day2, #day4, #day6, #day8 {
	background-color: #ff7406;
}

#d1, #d2, #d3, #d4,
#d5, #d6, #d7, #d8 {
	font-size: 24px;
	width: 50px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	background-color: #ffffff;
	color:#2da0c9;
	position:relative;
	margin: auto;
	padding: auto;
	top: 15px;
}

#icon1, #icon2, #icon3, #icon4,
#icon5, #icon6, #icon7, #icon8 {
	position: relative;
	top: 20px;
}

#s1, #s2, #s3, #s4,
#s5, #s6, #s7, #s8 {
	font-size: 16px;
	height: 100px;
	color: #FFFFFF;
	position: relative;
	top: 20px;
	overflow: scroll;
}

#appTitle{
	padding:20px;
}

#appTitle h1{
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
	margin: auto;
	padding: auto;
	width: 400px;
	color: #cbe007;
	font-family: "helvetica neue", sans serif;
	font-weight: 400;
	font-size: 54px;
	background-color: #ffffff;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
}

#landscape {
	height: 100vh;
	margin: 0px;
	padding: 0px;
	background-color: #cbe007;
	Position: relative;
	/*top: 150px;*/
}

.title {
	font-size: 14px;
	color: #ffffff;
}

.owl-pagination{
	display: none;
}